.about{
    color: black;
}

.about-text{
    background-color: rgb(235, 232, 232);
    width: 700px;
   /* text-align: center;*/
    margin-top: 100px;
}

.about-text p{
    width: 70%;
    margin: 0 auto;
    padding: 30px;
   
}

#about-title{
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
  
}

.p-title{
    font-weight: bold;
    font-size: 24px;
}