.App {
  text-align: center;
 
}
*{
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.App{
  margin: 0px auto;
}

main{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {

  .content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 100px;
  }

  header{
    grid-column: 1/5;
    grid-row: 1/2;
 
  }

  main{
    grid-column: 1/5;
    grid-row: 2/4;
    
    
  }

  footer{
    grid-column: 1/5;
    grid-row: 4/5;
    /*background-color: rgb(206, 206, 206);*/
  }

}



