.App {

 
}
*{
  margin: 0;
  box-sizing: border-box;
}

p{
  color: black;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.App{
  margin: 0px auto;
  text-align: center;
}

main{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin:0 auto;
/* flex: 1;*/
  /*min-height: 80vh;
 
  justify-content: space-between;*/
}
.content{
 
min-height: 100vh;
}
p{
  color: black;
}
@media screen and (min-width: 1000px) {

  .content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 100px;
 
  }

  header{
    grid-column: 1/5;
    grid-row: 1/2;
 
  }

  main{
    grid-column: 1/5;
    grid-row: 2/4;
   
    
    
  }

  footer{
    grid-column: 1/5;
    grid-row: 4/5;
   
  }

}



